/* Mobile view */

:root {
    --paragraph-color: #22211f;
    --body-font: 'Roboto Slab', sans-serif;

    --nav-background-color: rgb(51, 51, 51);
    --nav-hover-link-color: #32021F;
    --main-background-color: #CEBACF;
    --main-background-color2: #F4EBBE;
    --nav-hover-background-color: #F4EBBE;
}

body {
    font-family: var(--body-font);
    max-width: 980px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--nav-background-color);
}

header div {
    display: flex;
    align-items: center;
}

header img {
    width: 100px;
    height: 120px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(182, 148, 148, 0.3);
}

header div h1 {
    color: white;
    padding-left: 5px;
}

nav ul li {
    display: none;
}

nav:hover {
    cursor: pointer;
}

nav ul li {
    list-style: none;
    padding: 5px;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav::before {
    content: "☰";
    font-size: 40px;
    padding: 30px;
    color: white;
}

nav.show::before {
    content: "❌";
    color: var(--nav-link-color);
    padding-left: 50px;
    font-size: 30px;
}

.active::before {
    content: "🔖";
}

nav ul li:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    border-radius: 5px;
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
}

.show li {
    display: block;
    color: white;
}

main {
    text-align: center;
    color: var(--paragraph-color);
    margin: 20px 20px;
}

main h2 {
    background-color: var(--nav-background-color);
    color: white;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

main section {
    background-color: var(--main-background-color);
    color: var(--paragraph-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

#main_image {
    padding: 20px;
    margin-top: -10px;
}

#main_image img {
    width: 100%;
    border-radius: 10px;

}

#course_headers {
    border-bottom: 1px solid rgb(151, 150, 150);
    margin: 0 20px;
}

#course_headers button {
    padding: 10px 10px;
    background-color: var(--paragraph-color);
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    font-family: var(--body-font);
    width: 25%;
    margin-bottom: 20px;
    margin-right: 10px;
}

#course_headers button:hover {
    background-color: white;
    color: var(--paragraph-color);
    font-weight: 900;
    transform: scale(1.03);
    transition: transform 0.2s ease-in-out;
}

#courses {
    padding: 10px;
}

dialog {
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: .25rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 3rem #777;
    width: 90%;
    max-width: 600px;
}

::backdrop {
    background-color: rgb(0 0 0 / 0.5);
}

dialog button {
    position: absolute;
    top: 23px;
    right: 23px;
    padding: .5rem 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
}

dialog button:hover {
    cursor: pointer;
}

#courses button {
    padding: 10px 10px;
    background-color: var(--nav-hover-link-color);
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    font-family: var(--body-font);
    width: 95%;
    display: block;
    margin: 20px auto;
}

#courses .required {
    background-color: var(--main-background-color2);
    color: var(--paragraph-color);
}

footer {
    background-color: var(--nav-background-color);
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
}

/* Desktop view  */

@media screen and (min-width: 820px) {

    header {
        display: block;
    }

    header div {
        margin-left: 300px;
    }

    header img {
        width: 80px;
        height: 100px;
        margin-right: 20px;
        box-shadow: none;
    }

    nav {
        background-color: var(--main-background-color);
    }

    nav ul {
        display: flex;
        justify-content: space-between;
        padding: 20px;

    }

    nav ul li a {
        color: var(--paragraph-color);
    }

    nav a:hover {
        font-weight: 700;
    }

    nav::before {
        display: none;
    }

    nav ul li {
        display: block;
        padding: 5px 20px;

    }

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
        grid-gap: 20px;
    }

    #section_3 {
        grid-column: span 2;
    }

    main h2 {
        margin-top: 0;
    }

    #courses {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}