:root {
    --paragraph-color: #22211f;
    --body-font: 'Roboto Slab', sans-serif;

    --nav-background-color: rgb(51, 51, 51);
    --nav-hover-link-color: #32021F;
    --main-background-color: #CEBACF;
    --main-background-color2: #F4EBBE;
    --nav-hover-background-color: #F4EBBE;
}

body {
    font-family: var(--body-font);
    max-width: 980px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--nav-background-color);
}

/* header div {
    display: flex;
    align-items: center;
} */

header img {
    width: 100px;
    height: 120px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

header h1 {
    color: white;
    padding-left: 5px;
}

nav ul li {
    display: none;
}

nav:hover {
    cursor: pointer;
}

nav ul li {
    list-style: none;
    padding: 5px;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav::before {
    content: "☰";
    font-size: 40px;
    padding: 30px;
    color: white;
}

nav.show::before {
    content: "❌";
    color: var(--nav-link-color);
    padding-left: 50px;
    font-size: 30px;
}

nav ul li:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    border-radius: 5px;
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
}

.show li {
    display: block;
    color: white;
    margin-right: 10px;

}

main {
    text-align: center;
    color: var(--paragraph-color);
    margin: 0 20px;
}

main h1 {
    background-color: var(--nav-background-color);
    color: white;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

main section {
    background-color: var(--main-background-color);
    color: var(--paragraph-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#course_headers button {
    padding: 10px 10px;
    background-color: var(--paragraph-color);
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    font-family: var(--body-font);
    width: 30%;
    margin-bottom: 20px;
}

#courses {
    padding: 10px;
}

#courses button {
    padding: 10px 10px;
    background-color: var(--nav-hover-link-color);
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    font-family: var(--body-font);
    width: 100%;
    display: block;
    margin: 20px auto;
}

#courses .required {
    background-color: var(--main-background-color2);
    color: var(--paragraph-color);
}


footer {
    background-color: var(--nav-background-color);
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
}