body {
    font-family: 'Roboto Slab', sans-serif;
    max-width: 580px;
    margin: 0 auto;
}

main {
    background-color: rgb(219, 208, 208);
    padding: 20px;
    margin-bottom: 20px;
}

figure {
    display: flex;
    align-items: center;
}

h1 {
    background-color: aqua;
    text-align: center;
    padding: 10px;
}

figcaption {
    font-weight: 700;
}

footer {
    background-color: aqua;
    padding: 20px;
    font-weight: 700;
}